<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:SystemGlobals.properties</value>
			</list>
		</property>
	</bean>

	<!-- 数据源配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${anlongs.emp.driverClass}"></property>
        <property name="url" value="${anlongs.emp.jdbcUrl}"></property>
        <property name="username" value="${anlongs.emp.user}"></property>
        <property name="password" value="${anlongs.emp.password}"></property>
        <property name="maxActive" value="100"></property>
        <property name="maxIdle" value="30"></property>
        <property name="maxWait" value="500"></property>
        <property name="defaultAutoCommit" value="true"></property>
	</bean>
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
        <property name="url" value="jdbc:oracle:thin:@192.168.2.197:1521:msgserver"></property>
        <property name="username" value="sa"></property>
        <property name="password" value="sa"></property>
        <property name="maxActive" value="100"></property>
        <property name="maxIdle" value="30"></property>
        <property name="maxWait" value="500"></property>
        <property name="defaultAutoCommit" value="true"></property>
	</bean> -->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
        <property name="url" value="jdbc:sqlserver://192.168.2.197:1433;DatabaseName=msgserver"></property>
        <property name="username" value="sa"></property>
        <property name="password" value="sa"></property>
        <property name="maxActive" value="100"></property>
        <property name="maxIdle" value="30"></property>
        <property name="maxWait" value="500"></property>
        <property name="defaultAutoCommit" value="true"></property>
	</bean> -->

	<bean id="clearGroupMessageQuartz" class="com.anlongs.msgserver.quartz.ClearGroupMessageQuartz">
		<property name="mwImUnReadMessageDAO" ref="mwImUnReadMessageDAO"></property>
		<property name="mwImGroupInfoDAO" ref="mwImGroupInfoDAO"></property>
	</bean>

	<bean id="clearGroupMessageTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="clearGroupMessageQuartz" />
		<property name="targetMethod" value="run" />
	</bean>

	<bean id="clearGroupMessageTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="clearGroupMessageTask" />
		<property name="cronExpression" value="0 0 0 * * ?" />
	</bean>

	<bean id="TaskQueueQuartz" class="com.anlongs.msgserver.quartz.TaskQueueQuartz">
		<property name="mwImTaskQueueDAO" ref="mwImTaskQueueDAO" />
		<property name="mwImTaskHistoryDAO" ref="mwImTaskHistoryDAO" />
		<property name="mwImUserMessageDAO" ref="mwImUserMessageDAO" />
		<property name="mwImGroupMessageDAO" ref="mwImGroupMessageDAO" />
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO" />
		<property name="mwImUnReadMessageDAO" ref="mwImUnReadMessageDAO" />
		<property name="wgSendMessage" ref="wgSendMessage" />
		<property name="mwImGroupInfoDAO" ref="mwImGroupInfoDAO" />
		<property name="mwImGroupMemberDAO" ref="mwImGroupMemberDAO" />
	</bean>

	<bean id="TaskQueue" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="TaskQueueQuartz" />
		<property name="targetMethod" value="run" />
	</bean>

	<bean id="SendTaskQueue" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="TaskQueue" />
		<property name="cronExpression" value="0 * * * * ?" />
	</bean>   
    
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="clearGroupMessageTrigger" />
				<ref local="SendTaskQueue" />
			</list>
		</property>
	</bean>

	<!-- ================================ MyBatis SqlSession配置 ========================================= -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/${anlongs.emp.dbtype}/sqlMapConfig.xml"></property>
	</bean>
	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/oracle/sqlMapConfig.xml"></property>
	</bean> -->
	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mssql/sqlMapConfig.xml"></property>
	</bean> -->

	<bean id="mwImAppListDAO" class="com.anlongs.msgserver.dao.MwImAppListDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImBindMachineDAO" class="com.anlongs.msgserver.dao.MwImBindMachineDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImBroadcastMessageDAO" class="com.anlongs.msgserver.dao.MwImBroadcastMessageDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImContactsDAO" class="com.anlongs.msgserver.dao.MwImContactsDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImCorpInfoDAO" class="com.anlongs.msgserver.dao.MwImCorpInfoDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImDepInfoDAO" class="com.anlongs.msgserver.dao.MwImDepInfoDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImFileSendDAO" class="com.anlongs.msgserver.dao.MwImFileSendDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImGroupInfoDAO" class="com.anlongs.msgserver.dao.MwImGroupInfoDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImGroupMemberDAO" class="com.anlongs.msgserver.dao.MwImGroupMemberDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImGroupMessageDAO" class="com.anlongs.msgserver.dao.MwImGroupMessageDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImKeywordDAO" class="com.anlongs.msgserver.dao.MwImKeywordDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImLoginHistoryDAO" class="com.anlongs.msgserver.dao.MwImLoginHistoryDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImMoTaskDAO" class="com.anlongs.msgserver.dao.MwImMoTaskDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImMtTaskDAO" class="com.anlongs.msgserver.dao.MwImMtTaskDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImRecentContactsDAO" class="com.anlongs.msgserver.dao.MwImRecentContactsDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImServiceTypeDAO" class="com.anlongs.msgserver.dao.MwImServiceTypeDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImSpAccountDAO" class="com.anlongs.msgserver.dao.MwImSpAccountDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImStateReportDAO" class="com.anlongs.msgserver.dao.MwImStateReportDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImSubNoDAO" class="com.anlongs.msgserver.dao.MwImSubNoDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImTaskQueueDAO" class="com.anlongs.msgserver.dao.MwImTaskQueueDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImUserInfoDAO" class="com.anlongs.msgserver.dao.MwImUserInfoDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImUserMessageDAO" class="com.anlongs.msgserver.dao.MwImUserMessageDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImSystemLogDAO" class="com.anlongs.msgserver.dao.MwImSystemLogDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImTaskHistoryDAO" class="com.anlongs.msgserver.dao.MwImTaskHistoryDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImUnReadMessageDAO" class="com.anlongs.msgserver.dao.MwImUnReadMessageDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImGroupStateReportDAO" class="com.anlongs.msgserver.dao.MwImGroupStateReportDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImSysMsgDAO" class="com.anlongs.msgserver.dao.MwImSysMsgDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImGroupShareDAO" class="com.anlongs.msgserver.dao.MwImGroupShareDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImClientDAO" class="com.anlongs.msgserver.dao.MwImClientDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="mwImAppMessageDAO" class="com.anlongs.msgserver.dao.MwImAppMessageDAO" scope="prototype">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>




	<bean id="biz101" class="com.anlongs.msgserver.biz.EI.Biz101">
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO" />
		<property name="mwImBindMachineDAO" ref="mwImBindMachineDAO" />
	</bean>
	<bean id="biz102" class="com.anlongs.msgserver.biz.EI.Biz102">
		<property name="mwImBindMachineDAO" ref="mwImBindMachineDAO" />
	</bean>
	<bean id="biz103" class="com.anlongs.msgserver.biz.EI.Biz103">
		<property name="biz201" ref="biz201"></property>
	</bean>
	<bean id="biz104" class="com.anlongs.msgserver.biz.EI.Biz104">
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO"></property>
		<property name="wgSendMessage" ref="wgSendMessage"></property>
	</bean>
	<bean id="biz105" class="com.anlongs.msgserver.biz.EI.Biz105">
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO" />
	</bean>
	<bean id="biz106" class="com.anlongs.msgserver.biz.EI.Biz106">
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO"></property>
	</bean>
	<bean id="biz107" class="com.anlongs.msgserver.biz.EI.Biz107">
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO"></property>
		<property name="mwImDepInfoDAO" ref="mwImDepInfoDAO"></property>
	</bean>
	<bean id="biz108" class="com.anlongs.msgserver.biz.EI.Biz108">
		<property name="mwImGroupInfoDAO" ref="mwImGroupInfoDAO"></property>
	</bean>
	<bean id="biz109" class="com.anlongs.msgserver.biz.EI.Biz109">
		<property name="mwImGroupInfoDAO" ref="mwImGroupInfoDAO"></property>
		<property name="mwImDepInfoDAO" ref="mwImDepInfoDAO"></property>
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO"></property>
		<property name="mwImGroupMemberDAO" ref="mwImGroupMemberDAO"></property>
	</bean>
	<bean id="biz110" class="com.anlongs.msgserver.biz.EI.Biz110">
	</bean>
	<bean id="biz111" class="com.anlongs.msgserver.biz.EI.Biz111">
		<property name="mwImGroupInfoDAO" ref="mwImGroupInfoDAO"></property>
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO"></property>
		<property name="mwImGroupMemberDAO" ref="mwImGroupMemberDAO"></property>
		<property name="mwImSysMsgDAO" ref="mwImSysMsgDAO"></property>
	</bean>
	<bean id="biz112" class="com.anlongs.msgserver.biz.EI.Biz112">
		<property name="mwImGroupMemberDAO" ref="mwImGroupMemberDAO"></property>
		<property name="mwImGroupInfoDAO" ref="mwImGroupInfoDAO"></property>
		<property name="mwImSysMsgDAO" ref="mwImSysMsgDAO"></property>
	</bean>
	<bean id="biz113" class="com.anlongs.msgserver.biz.EI.Biz113">
		<property name="mwImGroupMemberDAO" ref="mwImGroupMemberDAO"/>
		<property name="mwImGroupInfoDAO" ref="mwImGroupInfoDAO"/>
	</bean>
	<bean id="biz114" class="com.anlongs.msgserver.biz.EI.Biz114">
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO"></property>
	</bean>
	<bean id="biz115" class="com.anlongs.msgserver.biz.EI.Biz115">
		<property name="mwImContactsDAO" ref="mwImContactsDAO"></property>
	</bean>
	<bean id="biz116" class="com.anlongs.msgserver.biz.EI.Biz116"/>
	<bean id="biz117" class="com.anlongs.msgserver.biz.EI.Biz117">
		<property name="mwImGroupShareDAO" ref="mwImGroupShareDAO"/>
		<property name="mwImGroupInfoDAO" ref="mwImGroupInfoDAO"/>
		<property name="mwImGroupMemberDAO" ref="mwImGroupMemberDAO" />
	</bean>	
	<bean id="biz201" class="com.anlongs.msgserver.biz.EI.Biz201">
		<property name="mwImUserMessageDAO" ref="mwImUserMessageDAO" />
		<property name="mwImUnReadMessageDAO" ref="mwImUnReadMessageDAO" />
		<property name="mwImSysMsgDAO" ref="mwImSysMsgDAO" />
		<property name="mwImAppMessageDAO" ref="mwImAppMessageDAO" />
	</bean>
	<bean id="biz202" class="com.anlongs.msgserver.biz.EI.Biz202">
		<property name="mwImUserMessageDAO" ref="mwImUserMessageDAO" />
		<property name="mwImGroupMessageDAO" ref="mwImGroupMessageDAO" />
		<property name="mwImGroupMemberDAO" ref="mwImGroupMemberDAO" />
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO" />
	</bean>
	<bean id="biz203" class="com.anlongs.msgserver.biz.EI.Biz203">
		<property name="sendMessage" ref="SendMessage" />
	</bean>
	<bean id="biz204" class="com.anlongs.msgserver.biz.EI.Biz204">
		<property name="mwImUserMessageDAO" ref="mwImUserMessageDAO" />
		<property name="mwImUnReadMessageDAO" ref="mwImUnReadMessageDAO" />
		<property name="mwImGroupStateReportDAO" ref="mwImGroupStateReportDAO" />
		<property name="mwImSysMsgDAO" ref="mwImSysMsgDAO" />
	</bean>
	<bean id="biz205" class="com.anlongs.msgserver.biz.EI.Biz205">
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO" />
		<property name="mwImBroadcastMessageDAO" ref="mwImBroadcastMessageDAO" />
		<property name="wgSendMessage" ref="wgSendMessage" />
	</bean>
	<bean id="biz206" class="com.anlongs.msgserver.biz.EI.Biz206">
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO" />
		<property name="mwImAppMessageDAO" ref="mwImAppMessageDAO" />
		<property name="wgSendMessage" ref="wgSendMessage" />
		<property name="mwImAppListDAO" ref="mwImAppListDAO" />
	</bean>
	<bean id="biz207" class="com.anlongs.msgserver.biz.EI.Biz207">
		<property name="mwImAppMessageDAO" ref="mwImAppMessageDAO" />
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO" />
	</bean>
	<bean id="biz301" class="com.anlongs.msgserver.biz.EI.Biz301"/>
	<bean id="biz302" class="com.anlongs.msgserver.biz.EI.Biz302"/>
	<bean id="biz401" class="com.anlongs.msgserver.biz.EI.Biz401">
		<property name="mwImClientDAO" ref="mwImClientDAO" />
	</bean>
	<bean id="biz402" class="com.anlongs.msgserver.biz.EI.Biz402">
		<property name="mwImAppListDAO" ref="mwImAppListDAO" />
	</bean>
	<bean id="biz501" class="com.anlongs.msgserver.biz.EI.Biz501">
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO" />
	</bean>
	<bean id="SendMessage" class="com.anlongs.msgserver.biz.message.SendMessage">
		<property name="mwImUserMessageDAO" ref="mwImUserMessageDAO" />
		<property name="mwImGroupMessageDAO" ref="mwImGroupMessageDAO" />
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO" />
		<property name="mwImRecentContactsDAO" ref="mwImRecentContactsDAO" />
		<property name="mwImUnReadMessageDAO" ref="mwImUnReadMessageDAO" />
		<property name="mwImGroupMemberDAO" ref="mwImGroupMemberDAO" />
		<property name="mwImGroupStateReportDAO" ref="mwImGroupStateReportDAO" />
		<property name="wgSendMessage" ref="wgSendMessage" />
		<property name="mwImBindMachineDAO" ref="mwImBindMachineDAO"></property>
	</bean>
	<bean id="wgSendMessage" class="com.anlongs.msgserver.biz.message.WgSendMessage">
		<property name="mwImMtTaskDAO" ref="mwImMtTaskDAO" />
		<property name="mwImUserMessageDAO" ref="mwImUserMessageDAO" />
		<property name="mwImGroupStateReportDAO" ref="mwImGroupStateReportDAO" />
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO" />
		<property name="mwImDepInfoDAO" ref="mwImDepInfoDAO" />
		<property name="mwImCorpInfoDAO" ref="mwImCorpInfoDAO" />
	</bean>
	<bean id="WgDataManager" class="com.anlongs.msgserver.biz.message.WgDataManager">
		<property name="mwImSpAccountDAO" ref="mwImSpAccountDAO" />
		<property name="mwImSubNoDAO" ref="mwImSubNoDAO" />
		<property name="mwImCorpInfoDAO" ref="mwImCorpInfoDAO" />
		<property name="mwImServiceTypeDAO" ref="mwImServiceTypeDAO" />
	</bean>
	<bean id="wgUpMessage" class="com.anlongs.msgserver.biz.message.WgUpMessage">
		<property name="mwImMoTaskDAO" ref="mwImMoTaskDAO" />
		<property name="mwImMtTaskDAO" ref="mwImMtTaskDAO" />
		<property name="mwImUserMessageDAO" ref="mwImUserMessageDAO" />
		<property name="mwImGroupMessageDAO" ref="mwImGroupMessageDAO" />
		<property name="mwImUserInfoDAO" ref="mwImUserInfoDAO" />
		<property name="mwImGroupStateReportDAO" ref="mwImGroupStateReportDAO" />
		<property name="mwImAppMessageDAO" ref="mwImAppMessageDAO" />
		<property name="biz203" ref="biz203" />
	</bean>
	<bean id="KeywordFilter" class="com.anlongs.msgserver.biz.message.KeywordFilter">
		<property name="mwImKeywordDAO" ref="mwImKeywordDAO" />
	</bean>
	<bean id="RptReceiveServlet" class="com.anlongs.msgserver.biz.message.RptReceiveServlet">
		<property name="wgUpMessage" ref="wgUpMessage" />
	</bean>
	<bean id="MoReceiveServlet" class="com.anlongs.msgserver.biz.message.MoReceiveServlet">
		<property name="wgUpMessage" ref="wgUpMessage" />
	</bean>
	

</beans>